* {
margin: 0;
padding: 0;
font-family: sans-serif;
}

html {
    background-image: url('img/AK_girl.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    color: #ccc;
    font-size: 32px;
    letter-spacing: 3px;
    padding: 45px 0 45px 0;
}

table {
    opacity: 0.85;
    color: #fff;
}

table thead tr td {
    text-align: center;
    padding: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

table tr {
    background-image: url('img/seamless.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

table tr:nth-child(even) {
    background: #262616;
}

table tbody tr td {
    padding: 15px;
    vertical-align: top;
}

table tbody tr:first-child td {
    text-align: center;
}

.verticalAlign_top {
    font-size: 11px;
    vertical-align: top;
}