body,
html {
    padding: 0;
    margin: 0;
    background-color: #CFB69C;
}

.container {
    margin: 0 auto;
    width: 750px;
    background-color: white;
    height: auto;
}

header>.name {
    color: black;
    display: inline-block;
    margin: 10px 30px;
    padding: 10px;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}

header>.profession {
    display: inline-block;
    color: #CFB69C;
    margin: 0px 30px;
    padding: 10px;
    font-weight: bold;
    font-size: 25px;
}

img {
    margin: 25px 30px;
}

header>nav>ul {
    list-style-type: none;
    text-align: center;
    margin: 80px 0px 0px 0px;
    padding: 0;
    border-bottom: 1px solid #CFB69C;
    border-top: 1px solid #CFB69C;

}

header>nav>ul>li {
    display: inline-block;
    padding: 15px 30px;

}

header>nav>ul>li>a {
    text-decoration: none;
    color: black;
}

header>nav>ul>li>a:hover {
    color: #CFB69C;
    font-weight: bold;
}

 footer {
     border-top: 1px solid #CFB69C;
     text-align: center;

 }

 span {
    display: inline-block;
    margin: 10px;
    font-weight: bold;
    
 }

 textarea {
    margin: 10px;
 }

 .button1 {
    display: inline-block;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    background-image: linear-gradient(#CFB69C, white);
    transition: 1s;   
 }
 .button1:hover {
    background-image: linear-gradient(pink, white);
 }

  @media screen and (max-width:768px) and (min-width: 321px) {

      body,
      html {
          height: 100%;
          background-color: white;
      }

  }


 


